services:
  spark:
    build:
      context: ..
      dockerfile: docker/spark.Dockerfile
    container_name: cyber-spark
    volumes:
      - ../:/opt/project
      - ivy-cache:/root/.ivy2
    working_dir: /opt/project
    environment:
      - PYSPARK_PYTHON=python3
      - PYSPARK_DRIVER_PYTHON=python3
      - PYTHONPATH=/opt/project
    command: ["sleep", "infinity"]

volumes:
  ivy-cache:
